body{
    margin: 0;
    background-color:#19cbf7;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Pacifico', cursive;
    color: yellow;
    text-align: center;
    text-shadow: 1px 5px 4px black;
    font-size: 90px;
    font-weight: 600;
    margin: 0;
    animation: shake 2s infinite;
}
a{
    font-size: 20px;
    color: yellow;
    text-decoration: none;
    position: absolute;
    top: 18px;
    left: 24px;
}
#main-container{
    width: 100%;
    height: 100vh;
    padding: 4% 8%;
    box-sizing: border-box;
}
#form-wrapper{
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.div{
    background-color: #2b3252;
    width: 40%;
    border-radius: 8px;
    color: white;
}

.fieldset-container{
border: 1px solid #ccc;
margin: 1rem;
padding: 1rem;
box-sizing: border-box;
}
.form-class{
    margin: 1em;
    padding: 0.5em;
    position: relative;
    box-sizing: border-box;
}
.error{
    margin: 0;
    margin-top:4px;
    color: rgb(243, 83, 83);
    font-size: 12px;
    position: absolute;
    display: none;
}
.form-class > label{
    color: rgb(243, 225, 225);
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.form-class > input{
    width: 100%;
    border-radius: 4px;
    border: none;
    outline: none;
    color: #000;
    background-color: #ccc;
    margin-top: 10px;
    padding: 0.5em 1em;
    box-sizing: border-box;
}

.formbtn{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    background-color: #fff748;
    color: #2b3252;
    outline: none;
    border: 0;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}
.form-class > select{
    width: 100%;
    border: 1px solid #ccc;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 0.5em 0.5em;
    border-radius: 5px;
}
.form-class > textarea{
    resize:none;
    width: 100%;
    font-size: 1em;
    margin-top: 10px;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    box-sizing: border-box;
    border-radius: 5px;
}
#step1_nextbtn{
    justify-content: flex-end;
}
legend{
    color:#fff;
    font-size: 20px;
}
#second-legend{
    text-align: center;
}
#third-legend{
    text-align: right;
}
#form1{
    display:block;
}
#form2 {
    display:none;
}
#form3{
    display:none;
}
